<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>pet管理</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/page.css}"/>
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.js}"></script>
<!-- mmGrid -->
<link rel="stylesheet" type="text/css" th:href="@{/plug/mmGrid/mmGrid.css}"/>
<script type="text/javascript"  th:src="@{/plug/mmGrid/mmGrid.js}" ></script>
<!-- mmGrid page -->
<link rel="stylesheet" type="text/css" th:href="@{/plug/mmGrid/mmPaginator.css}"/>
<script type="text/javascript" th:src="@{/plug/mmGrid/mmPaginator.js}" ></script>

<!-- layer -->
<link type="text/css" rel="stylesheet" th:href="@{/plug/layui/css/layui.css}"  media="all"/>
<script type="text/javascript" th:src="@{/plug/layui/layui.js}"  charset="utf-8"></script>

<link type="text/css" rel="stylesheet" th:href="@{/js/layer/skin/layer.css}"/>
<script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>
<style type="text/css">
</style>

</head>
<body>
<div  lay-allowclose="true" style="margin-left:15px; width: 98%">
<div class="first_div" style="border:none;">
	<table class="param_table" style="margin-left:10px;" >
		<tr>
			<td style="width:150px;">
				<span class="text_ad_0">type：</span>
				<select id="type" name="type">
					<option value="">select</option>
					<option value="1">Feline</option>
					<option value="2">Canidae</option>
				</select>
			</td>
			<td style="">
			<div class="layui-btn-group">
			  <button class="layui-btn" onclick="search()">query</button>
				<button class="layui-btn" onclick="addRow()">Add</button>
			</div>
			</td>
		</tr>
	</table>
	
	<div style="margin:3px 10px 10px 10px;"></div>
	<div id="exampleTableUser" style="margin-top:5px;" ></div>
	<div id="paginator11-1" align="right" style="margin-right:10px;" ></div>
</div>
</div>
</body>
</html>

<script type="text/javascript">

$(function(){	
	//表格
	$('#exampleTableUser').mmGrid({
    	root:'rows',// 和后台数据保存列一致,对应MMGridPageVoBean rows
		url:"/user/standard/getAllByLimitDoctor",
    	width: 'auto',
    	height: 'auto',
    	//checkCol: true,
    	fullWidthRows: true, //表格第一次加载数据时列伸展，自动充满表格
    	showBackboard: false,
        //multiSelect: true,
        indexCol: true,  //索引列
        params:function(){
        	var param = new Object();
        	param.type = $.trim($("#type").val());
        	return param;
        },
        cols: [{title: 'ID', name: 'id', width:60, hidden:true},
			{title: 'Begin age', name: 'ageMin', width:40},
			{title: 'End age', name: 'ageMax', width:40},
			{title: 'temperature min', name: 'tempMin', width:40},
			{title: 'temperature max', name: 'tempMax', width:30},
			{title: 'Weight min', name: 'weightMin', width:30},
			{title: 'Weight max', name: 'weightMax', width:30},
			{title: 'Height min', name: 'heightMin', width:30},
			{title: 'Height max', name: 'heightMax', width:30},
			{title: 'Food intake min', name: 'appetiteMin', width:30},
			{title: 'Food intake max', name: 'appetiteMax', width:30},
			{title: 'Status', name: 'status', width:20, renderer:function(val, item, rowIndex){
					//Status:1Waiting,2Pass,3Fail,4Done
					console.log(item);
					var t = "";
					switch (val) {
						case 1: t = "normal";break;
						case 2: t = "Abnormal";break;
						case 3: t = "sick";break;
					}
					return t;
				}},
			{title: 'type', name: 'type', width:20, renderer:function(val, item, rowIndex){
					//Status:1Waiting,2Pass,3Fail,4Done
					var t = "";
					switch (val) {
						case '1': t = "Feline";break;
						case '2': t = "Canidae";break;
					}
					return t;
				}},
			  {title: 'Operation', name: 'id', width:40, renderer:function(val, item, rowIndex){
					var buttonStr ='<span class=" layui-btn layui-btn-danger layui-btn-sm" onclick="dontPass('+"\'"+item.id+"\'"+')" >DELETE</span>';
					return "<div class='span_btus' >" + buttonStr + "</div>";
				}}
           ],
        plugins : [
        	$('#paginator11-1').mmPaginator({
        		totalCountName: 'total',    //对应MMGridPageVoBean count
        		page: 1,                    //初始页
        		pageParamName: 'page',      //当前页数
        		limitParamName: 'limit', //each page数量
        		limitList: [10, 20, 30, 50]
        	})
        ]
    });
});

//query
function search(){
	$('#exampleTableUser').mmGrid().load({"page":1});
}

function passTo(id) {
	toStatus(id, 2);
}

function dontPass(id) {
	var param = new Object();
	param.id = id;
	layer.confirm('确认DELETE吗？', {icon: 3, title:'提示'}, function(index){
		$.ajax({
			type:"POST",
			async:true,  //默认true,异步
			data:param,
			url:"/user/standard/del",
			success:function(data){
				console.log(data);
				if(data == "SUCCESS"){
					layer.alert('Operation成功！', {icon: 1}, function(indexOk){
						search();
						layer.closeAll();
					});
				}else if(data == "LGINOUT"){
					//重新Log in
					window.location.href = "/logout";
				}else{
					layer.alert('Operation失败！', {icon: 2}, function(indexNo){
						layer.closeAll();
					});
				}
			}
		});
	});
}

function finish(id) {
	toStatus(id, 4);
}

function toStatus(id, s) {
	var param = new Object();
	param.id = id;
	param.status = s;
	layer.confirm('确认保存吗？', {icon: 3, title:'提示'}, function(index){
		$.ajax({
			type:"POST",
			async:true,  //默认true,异步
			data:param,
			url:"/user/standard/chStatus",
			success:function(data){
				console.log(data);
				if(data == "SUCCESS"){
					layer.alert('Operation成功！', {icon: 1}, function(indexOk){
						search();
						layer.closeAll();
					});
				}else if(data == "LGINOUT"){
					//重新Log in
					window.location.href = "/logout";
				}else{
					layer.alert('Operation失败！', {icon: 2}, function(indexNo){
						layer.closeAll();
					});
				}
			}
		});
	});
}
function addRow(){
	layer.open({
		type: 2,
		title: 'Add',
		area: ['60%', '70%'],
		content: '/user/standard/add' //iframe的url
	});
}

</script>